.container {
  display: grid;
    grid-template-areas:
      'title'
      'grid';
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d0d3d870;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: #c4d7eb;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(18, 18, 18, 0.1);
  padding: 20px;
  text-align: center;
  border-color: black;
  border: 2px;
 
}

.title {
  grid-area: title;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}